body {
  background-color: #EAE7DC;
}

.cardImage {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  background-position: center;
  border: 2px solid #D8C3A5;
}

.productDetailsImg {
  width: 400px;
  height: 300px;
}

.detailsMain {
  background-color: #EAE7DC;
}

.cardDiv h5 {
  font-weight: 600;
}

.featured-carousel {
  width: 100%;
  height: 450px;
  position: relative;
}

.featured-items-header {
  font-family: 'Knewave', cursive;
  font-size: 20px;
  font-weight: 600;
  color: #8E8D8A;
  /* text-decoration: underline; */
}

.image-slide {
  left: 50%;
  transform: translate(-50%);
  height: 90%;
  width: 32%;
  /* transition: background-image .3s ease-in-out; */
  transition: all 1s ease;
  position: absolute;
  border: 2px solid #D8C3A5;
  border-radius: 5px;
  cursor: pointer;
}

.image-slide.slideFeaturedDiv {
  left:23%;
  position: absolute;
  height: 90%;
  width: 32%;
}

/* .featured-longDescription {
  position: relative;
} */

.image-slide-text {
  position: absolute;
  opacity: 0;
  right: 0;
  transform: translate(32%);
  width: 0%;
  height: 87%;
  transition: all 1s ease;
  overflow: scroll;
  background-color: #D8C3A5;
}

.image-slide-text.image-slide-text-show {
  position: absolute;
  right: 25%;
  width: 50%;
  height: 90%;
  opacity: 1;
  /* overflow: scroll; */
  background-color: #D8C3A5;
  border: 1px solid black;
  border-radius: 5px;
}

.carouselSpecs {
  height: 84px;
}

.carouselSpecs > ul {
  min-width: 150px;
  margin-left: 20px;
}

.carouselSpecs > li {
  display: inline;
  font-size: 12px;
}

.carouselDesc.carouselDesc-show {
  opacity: 1;
}

.slide-arrow {
  width: 70px;
  color: maroon;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.cartImageDiv {
  max-width: 100%;
  height: 15vw;
  object-fit: cover;
}

.img-square-wrapper {
  min-width: 30%;
}

.cartCard {
  width: 100%;
  height: auto;
  border: 2px solid maroon;
}

.header-container {
  width: 100%;
  height: 15vh;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.header {
  background-image: url('https://wallpaperplay.com/walls/full/8/a/f/203185.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #EAE7DC;
  border: 2px solid #D8C3A5;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
}

.header-container:hover .header,
.header-container:focus .header {
  transform: scale(1.05);
}

.shoppingCart {
  margin-left: 40px;
}

.headerTitle {
  font-family: 'Knewave', cursive;
  font-size: 36px;
  font-weight: 500;
  color: rgba(213, 243, 105, 0.637);
  font-style: italic;
}

.header-subTitle {
  font-family: 'Knewave', cursive;
  font-size: 18px;
  font-weight: 500;
  color: rgba(213, 243, 105, 0.637);
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
}

.categoriesContainer {
  border: 2px solid #D8C3A5;
  margin-top: 5px;
  background-color: maroon;
}

.productListItems {
  margin-top: 5px;
  margin-bottom: 5px;
}

.categoriesSections {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 18px;
  font-weight: 700;
  color: rgba(213, 243, 105, 0.637)!important;
  cursor: pointer;
}

.productDetailsBtn {
  background-color: maroon;
  color: white;
  border: 1px solid rgba(213, 243, 105, 0.637);
}

.detailsIcon {
  line-height: 1.5;
}

.main {
  background-color: #EAE7DC;
}

.itemsInCart {
  font-size: 20px;
}

.total-price {
  font-size: 18px;
}

.order-total {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
}

.cartBadge {
  position: absolute;
  border-radius: 10px;
}

.eggshellWhite{
  background-color: #EAE7DC;
}

.darkVanilla {
  background-color: #D8C3A5;
}

.taupeGray {
  background-color: #8E8D8A;
}

.lightJellyBeanRed {
  background-color: #E98074;
}

.jellBeanRed {
  background-color: #E85A4F;
}

.cardDiv {
  border: 2px solid #D8C3A5;
  background-color: #D8C3A5;
}

.confirmation-modal {
  border: 2px solid #E85A4F;
  border-radius: 5px;
  width: 310px;
  height: 175px;
  position: absolute;
  left: 78%;
  top: 10%;
  background-color: #D8C3A5;
}

@keyframes modalFadeOut {
  from {transform: translateY(0); opacity: 1;}
  to {transform: translateY(50%); opacity: 0;}
}

.confirmation-modal {
  -webkit-animation: modalFadeOut 500ms ease-in-out 0.5s both;
  animation: modalFadeOut 500ms ease-in-out 0.5s both;
}

@keyframes modalFadeIn {
  from {transform: translateY(-50%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}

.confirmation-modal.fadeIn {
  -webkit-animation: modalFadeIn ease-in-out 0.5s both;
  animation: modalFadeIn ease-in-out 0.5s both;
}

.incrementIcon,
.decrementIcon {
  font-size: 12px;
  color: #D8C3A5;
  cursor: pointer;
}

.incrementBtn,
.decrementBtn {
  border: none;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  outline: none;
}

.incrementBtn:focus,
.decrementBtn:focus {
  outline: 0;
}

.delete-confirmation-modal {
  border: 2px solid whitesmoke;
  width: 700px;
  height: 15vh;
}

.checkout-confirmation-modal {
  border: 2px solid maroon;
  border-radius: 5px;
  width: 700px;
  height: 37vh;
}

.checkout-font {
  font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------------

                        10. RESPONSIVE

-------------------------------------------------------------------*/

@media (max-width: 1024px) {
  .cartIcon {
    font-size: 26px;
  }
  .featured-items-header {
    font-size: 24px;
  }
  .categoriesSections {
    font-size: 24px;
  }
  .carousel-cardTitle {
    font-size: 26px;
  }
  .featured-longDescription {
    font-size: 24px;
  }
  .productDetailsBtn {
    font-size: 22px;
  }
  .productCardTitle {
    font-size: 28px;
  }
  .productListItem-price {
    font-size: 24px;
  }
  .cardShortDesc {
    font-size: 24px;
  }
  .image-slide {
    width: 38%;
  }
  .image-slide.slideFeaturedDiv {
    left: 28%;
    width: 38%;
  }
  .image-slide-text.image-slide-text-show {
    width: 42%;
    right: 22%;
  }
  .productDetailsImg {
    width: 100%;
    height: auto;
  }
  .backToListBtn {
    font-size: 24px;
  }
  .details-addToCartBtn {
    font-size: 24px;
  }
  .priceTag {
    font-size: 26px;
  }
  .productSpecs {
    font-size: 22px;
  }
  .shortDescription {
    font-size: 26px;
  }
  .longDescription {
    font-size: 26px;
  }
  .detailsMain h1 {
    font-size: 30px;
  }
  .carouselSpecs {
    display: none;
  }
}

@media (max-width: 768px) {
  /* .productDetailsImg {
    width: 100%;
    height: auto;
  } */
  .detailsMain h1 {
    font-size: 20px;
  }
  .image-slide {
    width: 48%;
  }
  .image-slide.slideFeaturedDiv {
    width: 40%;
    left: 29%;
  }
  /* .image-slide {
    background-size: 100% auto!important;
    height: 400px;
    width: 40%;
    border: none;
  }
  .image-slide.slideFeaturedDiv {
    left: 30%;
    height: 400px;
    width: 40%;
    border: none;
  }
  .image-slide-text {
    position: absolute;
    opacity: 0;
    top: 24%;
    right: 0;
    transform: translate(32%);
    width: 0%;
    height: 250px;
    transition: all 1s ease;
    overflow: scroll;
    background-color: #D8C3A5;
  }
  .image-slide-text.image-slide-text-show {
    font-size: 14px;
    position: absolute;
    top: 24%;
    right: 22%;
    width: 38%;
    height: 250px;
    opacity: 1;
    /* overflow: scroll; */
    /* background-color: #D8C3A5;
    border: 1px solid black;
    border-radius: 5px;
  } */
  .carouselSpecs {
    display: none;
  }
}

@media (max-width: 414px) {
  .shortDescription {
    font-size: 16px;
  }
  .longDescription {
    font-size: 16px;
  }
  .cartSummaryOffset {
    margin: 0;
  }
  .cartSummaryOffset h1 {
    font-size: 16px;
  }
  .backToListBtn {
    font-size: 12px;
  }
  .detailsMain h1 {
    font-size: 24px;
  }
  .carousel-cardBody {
    font-size: 12px;
    padding: 5px;
  }
  .carousel-cardTitle {
    font-size: 12px;

  }
  .featured-longDescription {
    font-size: 12px;
    display: none;
  }
  .carouselSpecs {
    display: none;
  }
  .productDetailsImg {
    width: 100%;
    height: auto;
  }
  .productDetailsBtn {
    font-size: 8px;
  }
  .cardShortDesc {
    font-size: 10px;
    display: none;
  }
  .productCardBody {
    padding: 10px;
  }
  .productCardTitle {
    font-size: 14px!important;
    margin-bottom: 5px;
  }
  .productListItems {
    height: 100%;
    width: 100%;
  }
  .productListItem-price {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .slide-arrow {
    width: 35px;
    color: maroon;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
  }
  .slide-arrow.right {
    right: -1rem;
  }
  .slide-arrow.left {
    left: -1rem;
  }
  .cardImage {
    width: 100%;
    height: 100%;
    border: none;
  }
  .featured-carousel {
    height: 150px;
  }
  .carouselMain {
    height: 100px;
    width: 100%;
  }
  .image-slide-text {
    position: absolute;
    opacity: 0;
    right: 0;
    transform: translate(32%);
    width: 0%;
    height: 71px;
    transition: all 1s ease;
    overflow: scroll;
    background-color: #D8C3A5;
  }
  .image-slide-text.image-slide-text-show {
    font-size: 10px;
    position: absolute;
    top: 23%;
    right: 25%;
    width: 38%;
    height: 101px;
    opacity: 1;
    /* overflow: scroll; */
    background-color: #D8C3A5;
    border: 1px solid black;
    border-radius: 5px;
  }
  .image-slide {
    top: 24%;
    background-size: 100% auto!important;
    height: 100px;
    width: 45%;
  }
  .image-slide.slideFeaturedDiv {
    left: 30%;
    height: 100px;
    width: 35%;
    border: none;
  }
  .cardDiv {
    overflow: hidden;
  }
  .cardBody{
    overflow: hidden;
  }
  .headerTitle {
    font-size: 26px;
  }
  .container-fluid {
    width: 100%;
    max-width: none;
  }
  .shoppingCart {
    font-size: 10px;
  }
  .categoriesSections {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 10px;
  font-weight: 700;
  color: rgba(213, 243, 105, 0.637)!important;
  cursor: pointer;
  }
  .featured-items-header {
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .carousel-cardTitle {
    margin-bottom: 5px;
  }
  .carouselSpecs > .productDetailsBtn {
    font-size: 12px;
  }
  .cartSummaryOffset {
    margin: 0;
  }
  .cartSummaryOffset h1 {
    font-size: 16px;
  }
  .backToListBtn {
    font-size: 12px;
  }
  .detailsMain h1 {
    font-size: 24px;
  }
  .carousel-cardBody {
    font-size: 12px;
    padding: 5px;
  }
  .carousel-cardTitle {
    font-size: 12px;

  }
  .featured-longDescription {
    font-size: 12px;
    display: none;
  }
  .carouselSpecs {
    display: none;
  }
  .productDetailsImg {
    width: 100%;
    height: auto;
  }
  .productDetailsBtn {
    font-size: 8px;
  }
  .cardShortDesc {
    font-size: 7px;
    display: none;
  }
  .productCardBody {
    padding: 10px;
  }
  .productCardTitle {
    margin-bottom: 5px;
  }
  .productListItem-price {
    font-size: 8px;
    margin-bottom: 5px;
  }
  .slide-arrow {
    width: 35px;
    color: maroon;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
  }
  .slide-arrow.right {
    right: -1rem;
  }

  .slide-arrow.left {
    left: -1rem;
  }
  .card-title {
    font-size: 10px;
  }
  .cardImage {
    width: 100%;
    height: 100%;
    border: none;
  }
  .productListItems {
    height: 100%;
    width: 100%;
  }
  .productListItem-price {
    font-size: 12px;
  }
  .featured-carousel {
    height: 150px;
  }
  .carouselMain {
    height: 100px;
    width: 100%;
  }
  .image-slide-text {
    position: absolute;
    opacity: 0;
    right: 0;
    transform: translate(32%);
    width: 0%;
    height: 71px;
    transition: all 1s ease;
    overflow: scroll;
    background-color: #D8C3A5;
  }
  .image-slide-text.image-slide-text-show {
    font-size: 10px;
    position: absolute;
    top: 22%;
    right: 25%;
    width: 38%;
    height: 100px;
    opacity: 1;
    /* overflow: scroll; */
    background-color: #D8C3A5;
    border: 1px solid black;
    border-radius: 5px;
  }
  .image-slide {
    background-size: 100% auto!important;
    top: 22%;
    height: 100px;
    width: 45%;
  }
  .image-slide.slideFeaturedDiv {
    left: 30%;
    height: 100px;
    width: 35%;
    border: none;
  }
  .cardDiv {
    overflow: hidden;
  }
  .cardBody{
    overflow: hidden;
  }
  .headerTitle {
    font-size: 26px;
  }
  .container-fluid {
    width: 100%;
    max-width: none;
  }
  .shoppingCart {
    font-size: 10px;
  }
  .categoriesSections {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 10px;
  font-weight: 700;
  color: rgba(213, 243, 105, 0.637)!important;
  cursor: pointer;
  }
  .featured-items-header {
    font-size: 10px;
  }
}

@media (max-width:320px) {
  .cartSummaryOffset {
    margin: 0;
  }
  .cartSummaryOffset h1 {
    font-size: 16px;
  }
  .backToListBtn {
    font-size: 12px;
  }
  .detailsMain h1 {
    font-size: 24px;
  }
  .carousel-cardBody {
    font-size: 12px;
    padding: 5px;
  }
  .carousel-cardTitle {
    font-size: 12px;

  }
  .featured-longDescription {
    font-size: 12px;
    display: none;
  }
  .carouselSpecs {
    display: none;
  }
  .productDetailsImg {
    width: 100%;
    height: auto;
  }
  .productDetailsBtn {
    font-size: 8px;
  }
  .cardShortDesc {
    font-size: 7px;
    display: none;
  }
  .productCardBody {
    padding: 10px;
  }
  .productCardTitle {
    margin-bottom: 5px;
  }
  .productListItem-price {
    font-size: 8px;
    margin-bottom: 5px;
  }
  .slide-arrow {
    width: 35px;
    color: maroon;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
  }
  .slide-arrow.right {
    right: -1rem;
  }

  .slide-arrow.left {
    left: -1rem;
  }
  .card-title {
    font-size: 10px;
  }
  .cardImage {
    width: 100%;
    height: 100%;
    border: none;
  }
  .productListItems {
    height: 100%;
    width: 100%;
  }
  .productListItem-price {
    font-size: 12px;
  }
  .featured-carousel {
    height: 150px;
  }
  .carouselMain {
    height: 100px;
    width: 100%;
  }
  .image-slide-text {
    position: absolute;
    opacity: 0;
    right: 0;
    transform: translate(32%);
    width: 0%;
    height: 71px;
    transition: all 1s ease;
    overflow: scroll;
    background-color: #D8C3A5;
  }
  .image-slide-text.image-slide-text-show {
    font-size: 10px;
    position: absolute;
    right: 25%;
    width: 38%;
    height: 100px;
    opacity: 1;
    /* overflow: scroll; */
    background-color: #D8C3A5;
    border: 1px solid black;
    border-radius: 5px;
  }
  .image-slide {
    background-size: 100% auto!important;
    height: 100px;
    width: 45%;
  }
  .image-slide.slideFeaturedDiv {
    left: 30%;
    height: 100px;
    width: 35%;
    border: none;
  }
  .cardDiv {
    overflow: hidden;
  }
  .cardBody{
    overflow: hidden;
  }
  .headerTitle {
    font-size: 26px;
  }
  .container-fluid {
    width: 100%;
    max-width: none;
  }
  .shoppingCart {
    font-size: 10px;
  }
  .categoriesSections {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 10px;
  font-weight: 700;
  color: rgba(213, 243, 105, 0.637)!important;
  cursor: pointer;
  }
  .featured-items-header {
    font-size: 10px;
  }
}
